body {
    margin: 0px;
    text-align: center;
    font-family: 'Courier New', serif;
    background-image: url("images/top-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
}

h1 {
    color: #853131;
    font-size: 5.325rem;
    margin: 50px auto 0 auto;
    font-family: 'Courier New',;
}

h2 {
    color: #000000;
    font-family: 'Courier New', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

h2.h2a {
    color: #fdf7f7;
    font-family: 'Courier New', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

.top-container {
    position: relative;
    padding-top: 100px;
    padding: 100px;
  }

.middle-container {
    margin: 100px;
  }

img.profile {
    width : 120px;
    height: 120px;
}

p {
    line-height: 2;
    font-size: 1.3rem;
  }

p.p1 {
    line-height: 2;
    font-size: 1.3rem;
    color: #ffffff;
}

.skills {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),  url("images/code1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover
}

label {
    line-height: 2;
    font-size: 1.3rem;
    color: white;
}

div.contact {
    background-color: #ffffff;
    padding: 10px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    background-color: #ececec;
    padding: 50px 0 20px;
    padding-bottom: -100px;
  }

.copyright {
    color: #000000;
    font-size: 0.75rem;
    padding: 20px 0;
  }